/*
Brand Colors:
  Minion Yellow #FFE74C 255,231, 76
  Fiery Rose #FF5964 255, 89, 100
  White #FFFFFF 255, 255, 255
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #4a4a4a
}

header {
  background-color: #F5F5F5;
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(61, 0, 4, 0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(61, 0, 4, 0.35);
  box-shadow: 0px 5px 5px 0px rgba(61, 0, 4, 0.35);
}

div.hero {
  background-color: #FFEBEC;
  padding: 50px 10px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

div.work{
  text-align: center;
}

div.about {
  text-align: center;
}

div.project{
  padding-top: 10px;
}

div.project-entire{
  text-align: center;
}

div.contact {
  text-align: center;
}

h1, h2, h3, h4{
  line-height: 1.4;
}

h1 {
  font-size: 2.3em;
  font-weight: 300;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.8;
}

img {
  width: 100%
}

a {
  color: #ff5964;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffe74c;
  text-decoration: underline;
}

a:visited {
  color: #A3000B;
}

a:active {
  color: #ffe74c;
}

.button {
  display: inline-block;
  background-color: #ff5964;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #A3000B;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.7;
  text-decoration: none;
}

.button:active {
  opacity: 0.7;
  text-decoration: none;
}

.button.contact {
  background-color: #ffffff;
  color: #ff5964;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.button.contact:hover {
  background-color: #ffe74c;
  opacity: 1;
  text-decoration: none;
}

.button.contact:active {
  opacity: 1;
  text-decoration: none;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #D6D6D6;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #D6D6D6;
  text-align: center;
}

.center{
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FF5964;
}

nav > ul > li > a:visited {
  color: #A3000B;
}

nav > ul > li > a:hover {
  opacity: 0.7;
  text-decoration: none;
}

nav > ul > li > a:active{
  opacity: 0.7;
  text-decoration: none;
}

main{
  padding-top: 133px;
}

/* =====
Medium devices (640px or larger)
===== */
@media only screen and (min-width: 640px) {
}

/* =====
Large devices (1024px or larger)
===== */
@media only screen and (min-width: 1024px) {
}

/* =====
X-large devices (1440px or larger)
===== */
@media only screen and (min-width: 1440px) {
}

/* =====
Extra-large devices (1920px or larger)
===== */
@media only screen and (min-width: 1920px) {
}
